{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Try Angular and Django</title>

    <!-- Bootstrap -->
    <link href="{% static 'lib/css/bootstrap.min.css' %}" rel="stylesheet">

    <base href='/'></base>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="app">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>Angular and Django Integration</h1>
                
                    {% verbatim %}
                        <div ng-view></div>
                        <!-- <div ng-controller="DemoCtrl as demoCtrl"> -->
                        <!-- <div class="data">
                        </div>
                        <button class="btn btn-primary" ng-click="save()">Click</button> -->
                        <!-- <div class="panel" ng-repeat="post in posts">
                            <div class='panel-heading clearfix'>
                                <h3>{{post.title}}</h3>
                                <author class='pull-right'>{{post.user_name}}</author>
                            </div>
                            <p class='well'>{{post.content}}</p>
                            
                        </div> -->
                    
                    {% endverbatim %}

                
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- for ng-route and ng-resource -->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js'></script>
    <!--  -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <!-- <script type="text/javascript" src="{% static 'js/app.config.js' %}"></script> -->
    <!--  -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'lib/js/bootstrap.min.js' %}"></script>
  </body>
</html>